.rectangle {
  padding: 50px;
  border-radius: 12px;
  border: none;
  pointer-events: none;
}

.rectangle--gray900 {
  background-color: #18191f;
}

.rectangle--gray800 {
  background-color: #474a57;
}

.rectangle--gray700 {
  background-color: #969bab;
}
.rectangle--gray300 {
  background-color: #d9dbe1;
}

.rectangle--gray200 {
  background-color: #eeeff4;
}

.rectangle--gray100 {
  background-color: #f4f5f7;
}

.rectangle--larger {
  padding: 50px 51.43px;
}

.rectangle--purple {
  background-color: #8c30f5;
}

.rectangle--purple800 {
  background-color: #d6b1ff;
}

.rectangle--purple100 {
  background-color: #f1e4ff;
}

.rectangle--turquoise {
  background-color: #2ec5ce;
}

.rectangle--turquoise800 {
  background-color: #75e3ea;
}

.rectangle--turquoise100 {
  background-color: #d5fafc;
}

.rectangle--orange {
  background-color: #fe9a22;
}

.rectangle--orange800 {
  background-color: #ffc278;
}

.rectangle--orange100 {
  background-color: #ffe3c1;
}

.rectangle--pink {
  background-color: #f22bb2;
}

.rectangle--pink800 {
  background-color: #ff72d2;
}

.rectangle--pink100 {
  background-color: #ffb1e6;
}

.rectangle--large {
  background-color: #72ffe6;
  flex-grow: 1;
  align-self: stretch;
  min-width: 360px;
  min-height: 360px;
}

.rectangle--pastel-green {
  background-color: #c1e5c0;
}

.rectangle--pastel-blue {
  background-color: #c0dae5;
}

.rectangle--peach {
  background-color: #f39f9f;
}

.rectangle--light-peach {
  background-color: #fdd9d9;
}

.rectangle--cotton-candy {
  background-color: #ffc3d8;
}

.rectangle--cyan {
  background-color: #a0dcff;
}
