@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato&family=Poppins:wght@400;700&display=swap");

@import "buttons.scss";

@import "card.scss";

@import "colors.scss";

@import "gallery.scss";

@import "header&footer.scss";

@mixin flex {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%; /* All items will be 100% width */
}

.main {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.section {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  padding: 56px 54px 63px 56px;
}

.section__header {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  border-style: none none solid none;
  border-width: 1px;
  padding-bottom: 16px;
  margin-right: 42px;
}

.section__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.section__colors {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  padding-top: 59px;
  row-gap: 80px;
}

.section__row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  column-gap: 24px;
}

/*

.main__container {
  @include flex;
  flex-flow: row wrap;
  padding: 56px 54px 63px 56px;
}

.main__container--gallery {
  padding: 80px 165px 87px;
}

.main__container--subs {
  padding: 0 67px 0;
}

.main__container--card {
  padding: 101px 516px;
}

*/
