@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato&family=Poppins:wght@400;700&display=swap");

@import "header&footer.scss";

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%; /* All items will be 100% width */
}
